checkpoints/best_ckpt/
checkpoints/hg_s2_b1/
data/0
data/1
data/2
data/README.txt
data/labels.xlsx
data/tabs.xlsx
data/train.txt
data/val.txt
data/video*
main_video.avi
tfg.mp4
loss/__pycache__/
__pycache__/
.idea/
models/__pycache__/
output/
transforms/__pycache__/
utils/__pycache__/
Tests/
output*
logs/
detection.png
albert*